<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title>Basic Layout</title>
        <link rel="stylesheet" href="/styles/homepage.css">
    </head>
    <body>
        <div class="header">
            <h1>Tourist Simulator</h1>
        </div>
        <div class="container">
            <div class="main-container">
                <p>maze container</p>
                <div class="submain-container">
                    <p>maze</p>
                </div>
            </div>
            <div class="small-container">
                <p>stats</p>
            </div>
            <div class="bottom-container">
                <p>dialogue</p>
            </div>
        </div>
    </body>
</html>