<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, inital-scale=1.0">
	<title>Tourist Simulator Deluxe</title>

	<link rel="stylesheet" href="static/styles/homepage.css">
	<link rel="stylesheet" href="static/styles/maze.css">
	<link rel="stylesheet" href="static/styles/encounter.css">
	<link rel="stylesheet" href="static/styles/inventory.css">
	<link rel="stylesheet" href="static/styles/stats.css">

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="static/scripts/homepage.js"></script>
	<script type="text/javascript" src="static/scripts/maze_grid.js"></script>
	<script type="text/javascript" src="static/scripts/maze_draw.js"></script>
	<script type="text/javascript" src="static/scripts/navigation.js"></script>
	<script type="text/javascript" src="static/scripts/encounters.js"></script>
	<script type="text/javascript" src="static/scripts/inventory.js"></script>
</head>

<body>
<div class="banner">
	<h1>Tourist Simulator Deluxe</h1>
</div>

<!-- <a id="backend" href="backend/backend.html">backend</a> -->

<div class="game">
	<div class="map">
		<div class="map-bg"></div>
		<table class="maze"></table>
	</div>

	<span class="hud">
		<div class="stats-box">
			<h3>Stats</h3>
			<h4>Health</h4>
			<div class="health"></div>
			<h4>Cash</h4>
			<div class="cash"></div>
		</div>

		<div class="inventory">
			<h3>Inventory</h3>
			<table class="items-table"></table>
		</div>

		<div class="encounter-box">
			<h3>Encounters</h3>
			<p></p>
			<img src="../static/assets/images/mugshots/rageguy.png"></img>

			<span class="character">
				<div class="options">
					<div id="dismiss">
						<button>dismiss</button>
					</div>
					<div id="engage">
						<button>engage</button>
					</div>
				</div>
			</span>

			<span class="response">
				<div class="options">
					<div id="rude">
						<button>rude</button>
					</div>
					<div id="mellow">
						<button>mellow</button>
					</div>
					<div id="polite">
						<button>polite</button>
					</div>
				</div>
			</span>

		</div>
	</span>
</div>
</body>
</html>
