/* html { */
/* 	height: 100%; */
/* } */

body {
    font-family: Arial, Helvetica, sans-serif;
	/* background-color: #BBBBBB; */
}

.banner {
	text-align: center;
}

.game {
	display: grid;
	grid-template: auto auto auto / auto auto auto;
	border: 1px solid black;
	margin: auto;
	width: 80vw;
}

.map {
	grid-row: 1 / span 3;
	grid-column: 1 / span 2;
	aspect-ratio: 1/1;
	border: 1px solid green;
	padding: 0px;
}

.map-bg {
}

.maze {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.row {
	width: 100%;
}

.block {
	aspect-ratio: 1/1;
	/* background-color: lightyellow; */
	border: 1px solid pink;
}

.player_pos {
	border: none;
	background-color: orange;
}

.encounter {
	grid-row: 3;
	grid-column: 3;
	aspect-ratio: 3/2;
	border: 1px solid blue;
	left: 0px;
	width: 100%;
}

.dialogue {
}

.options {
}

.stats-box {
	grid-row: 1;
	grid-column: 3;
	padding: 0px 5% 10px;
	margin: auto;
	width: 90%;
	height: 15%;
	min-height: 100px;
	border: 1px solid red;

	h3 {
		margin: 1px;
	}

	h4 {
		margin: 1px;
	}
}

.stat {
	height: 15%;
	background-color: red;
	margin: 1px;
	padding: 0px;
}
