body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.main-container {
    display: relative;
    height: 80%;
    aspect-ratio: 1/1;
    background-color: #000000;
    margin: 0 auto;
    color: white;
}

.submain-container {
    display: relative;
    aspect-ratio: 1/1;
    background-color: grey;
    height: 80%;
    margin: 0 auto;
}

.small-container {
    display: relative;
    position: fixed;
    right: 10px;
    margin-left: 0 auto;
    background-color: #b56767;
    padding: 20px;
    max-width: 100px;
    justify-content: right;
}

.bottom-container {
    display: relative;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-color: aqua;
    margin: auto auto;
    margin-top: 20px;
    border-radius: 50px;
    text-align: center;
}
